/* public/style.css */

html, body, section, .full-height {
    height: 100%;
} 

#pad{
/*  width: 100%;*/
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;

    border: none;
    overflow: auto;
    outline: none;
    resize: none;

/*
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
*/
/*    width: 100%;*/
  
    box-shadow: 0px 0px 10px #888888;
    padding: 10px;
    padding-left: 70px; 
/*    border: 1px solid black;*/
    background: white;
    border-radius: 0px;
    
}

#linenumber {
  position: absolute;
  left: 12.75em;
  z-index: 100;
/*  border-right: 1px solid #e1e1e1;*/
/*  padding-right: 40px;*/
}

#linenumber p{
  margin: 0px;
  padding: 0px;
/*  border: 1px solid black;*/
  width: 50px;
}